/*css för alla sidor*/
body{
    background-color: black;
    margin: none;
    padding: none;
    border: none;
    width: 100vw;
}

/*header som finns på varje sida*/
header{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 10vh;
    width: 100%;
}
#menubutton{
    background-color: black;
    color: white;
    height: 75%;
    width: 25%;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    
}
/*meny och fadelayer*/
.menu{
    height: 100vh;
    width: 80vw;
    background: white;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
.show{
    left: 0;
}
.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}
.fade-layer.visible{
    display: block;
}
/*text*/

.funnel-display{
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  /*länkar*/
  a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }