/*css för alla sidor*/
body {
    background-color: black;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/*header som finns på varje sida*/
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 10vh;
    width: 100%;
    
}
header a {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    width: 15%;
    height: 70%;
    color: white;
    background-color: black;
    border-radius: 50px;
    
}

#menubutton {
    background-color: black;
    color: white;
    height: 75%;
    width: 25%;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin: 0px;
    font-size: 2rem;

}

/*meny och fadelayer*/
.menu {
    height: 100vh;
    width: 80vw;
    background-color: white;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
    display: grid;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    
}

.show {
    left: 0;

}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
    
}

.visible {
    display: block;
}

nav a {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    
}

.centered {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    
}

/*footer som finns på varje sida*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 20vh;
    width: 100vw;
}

/*text*/

.funnel-display {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48;
    
}

h2 {
    font-size: 30;
    
}

p {
    font-size: 18px;
    width: 90%;
}

/*länkar*/
a {
    text-decoration: none;
    color: white;

}
/*bilder*/

img{
    border-radius: 20px;
}
    
/*index.html*/
.main1{
    height: 100vh;
    width: 100%;
    background-image: url("../img/shot-by-cerqueira-0o_GEzyargo-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
}
.section1{
    display: grid;
    height: 120vh;
    color: white;
    
}
aside{
    display: flex;
    flex-direction: column;
    grid-area: as;
    width: 100%;
    height: 100%;
    justify-content: center;
}
aside p{
    width: 80%;
    padding-left: 10%;
    
}
.article1{
    display: grid;
    color: white;
    height: 50vh;
}
.article1 p{
  grid-area: p;  
  
  
}
.article1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: white;
    color: black;
    border-radius: 20px;
    grid-area: a;
}
.article1 h2{
    width: 100%;
    grid-area: h2;
}
#article11{
    grid-area: ar1;
}
#article12{
    grid-area: ar2;
}
#article13{
    grid-area: ar3;
}
/*sida2*/
.section2{
    color: white;
}
.article2{
    display: grid;
    align-items: center;
    color: white;
}
.article2 p{
    grid-area: p;
}
.article2 h2{
    grid-area: h2;
}
.article2 img{
    height: 100%;
    width: 60%;
    object-fit: contain;
    grid-area: img;   
}
/*sida3*/
.main3{
    height: 100vh;
    width: 100%;
    background-image: url("../img/tshirtpårymdbakrundmedtext.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
.section3{
    display: grid;
    grid-column-gap: 5%;
    color: white;
}
.article3{
    display: grid;
    height: 100vh;

}
.article3 p{
    grid-area: p;
}
.article3 h2{
    grid-area: h2;
}
.article3 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    grid-area: img;   
}
/*sida4*/
.wrapper4 {
    width: 100%;
    color: white;
}

.article4 {
    width: 95%;
    height: 110vh;
    display: grid;
    grid-template-rows: 55% 15% 30%;
}

.article4 img {
    height: 90%;
    width: 90%;
    object-fit: contain;
}


@media screen and (max-width: 479px) {
    .desktopheader{
        display: none;
    }
    .menu {
        grid-template-columns: 100%;
        grid-template-rows: 23.75% 23.75% 23.75% 23.75%;
    }
    #menubutton {
        width: 25%;
    }
    a {
        font-size: 2rem;
    }
    
    .section1{
        grid-template-rows: 1fr 1fr 1fr 2fr;
        height: 220vh;
        width: 100%;
        justify-content: center;
        grid-template-areas: 
        "ar1"
        "ar2"
        "ar3"
        "as"
        ;
    }
    .article1{
        grid-template-columns: 70% 30%;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
        "h2 h2"
        "p  a";
    }
   
    .article1 a{
        width: 100%;
        height: 50%;
    }
    .article1 p{
        width: 90%;
      }
      .section3{
        height: 170vh;
        grid-template-rows: 47.5% 47.5%;
        grid-row-gap: 5%;
        color: white;
    }
    .article3{
        grid-template-rows: 10% 50% 30% 10%;
        grid-template-areas: 
        "h2"
        "img"
        "p";
    }
    
    .article2{
        display: grid;
        height: 90vh;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        grid-template-rows: 10% 55% 35%;
        grid-template-areas: 
        "h2"
        "img"
        "p";
    }
    .article2 img{
        width: 60%;
    }
    .wrapper4 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        color: white;
        padding: 2rem;
        height: 500vh;
      }

}

@media screen and (min-width: 479px) {
    .mobileheader{
        display: none;
    }
    .menu {
        grid-template-columns: 47.5% 47.5%;
        grid-template-rows: 47.5% 47.5%;
    }
    #menubutton {
        width: 20%;
    }
    a {
        font-size: 3rem;
    }

    /*.wrapper4 {
        grid-template-columns: 45% 45%;
        justify-content: space-around;
    }*/
    .wrapper4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        height: 220vh;
        color: white;
        padding: 2rem;
      }
    .section1{
        grid-template-columns: 75% 25% ;
        grid-template-rows: 40vh 40vh 40vh;
        grid-template-areas: 
        "ar1 as"
        "ar2 as"
        "ar3 as";
    }
    .article1{
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
        "h2 a"
        "p  p";
    }
    .article1 a{
        width: 50%;
        height: 50%;
        align-self: center;
    }
    .article1 p{
        width: 50%;
        
    }
    .section3{
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;
    }
    .article3{
        height: 100vh;
        grid-template-rows: 10% 30% 50% 10%;
        grid-template-areas: 
        "h2"
        "p"
        "img"
        ;
    }
    .section2{
        display: grid;
        height: 265vh;
        grid-template-rows: 40vh 40vh 40vh 40vh 40vh 40vh;
        grid-row-gap: 5vh;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        color: white;
    }
    .article2{
        height: 40vh;
        grid-template-rows: 20% 80%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "h2 img"
        "p  img";
    }
    #introarticlep{
        width: 40%;
        color: white;
    }
    #introarticleh2{
        width: 40%;
        color: white;
    }
}