/*css för alla sidor*/
body {
    background-color: black;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    border: 0px;

}

/*header som finns på varje sida*/
header {
    /*position: fixed;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 10vh;
    width: 100%;
    
}

#menubutton {
    background-color: black;
    color: white;
    height: 75%;
    width: 25%;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin: 0px;
    

}

/*meny och fadelayer*/
.menu {
    height: 100vh;
    width: 80vw;
    background-color: white;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
    display: grid;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    
}

.show {
    left: 0;

}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
    
}

.visible {
    display: block;
}

nav a {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    color: white;
    
}

.centered {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    
}

/*footer som finns på varje sida*/
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 20vh;
    width: 100vw;
}

/*text*/

.funnel-display {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 3rem;
    
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

/*länkar*/
a {
    text-decoration: none;
    color: white;

}

/*index.html*/
.main1{
    height: 100vh;
    width: 100%;
    background-image: url("../img/shot-by-cerqueira-0o_GEzyargo-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
}
.section1{
    display: grid;
    height: 130vh;
    
    color: white;
}
.section1 article{
    display: grid;
    grid-template-columns: 50% 30% 20%;
}
.article11{
    grid-area: ar1;
}
.article12{
    grid-area: ar2;
}
.article13{
    grid-area: ar3;
}
/*sida4*/
.wrapper4 {
    display: grid;
    align-content: space-around;
    color: white;
}

.article4 {
    width: 95%;
    height: 110vh;
    display: grid;
    grid-template-rows: 55% 15% 30%;
}

.article4 img {
    height: 90%;
    width: 90%;
    object-fit: contain;
}


@media screen and (max-width: 479px) {

    .menu {
        grid-template-columns: 100%;
        grid-template-rows: 23.75% 23.75% 23.75% 23.75%;
    }

    a {
        font-size: 2rem;
    }
    .article4 {
        padding: 5%;
    }
    .section1{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "as"
        "ar1"
        "ar2"
        "ar3"
        ;
        
    }
}

@media screen and (min-width: 479px) {

    .menu {
        grid-template-columns: 47.5% 47.5%;
        grid-template-rows: 47.5% 47.5%;
    }

    a {
        font-size: 3rem;
    }

    .wrapper4 {
        grid-template-columns: 45% 45%;
        justify-content: space-around;
    }
    .section1{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 25% 75%;
        grid-template-areas: 
        "as ar1"
        "as ar2"
        "as ar3"
        ;
        
    }
}